{% extends "base.html" %}

{% block content %}
    <div class="row">
       <div class="col-12 text-center">
        <h1 class="cover-heading">Главная страница</h1>
        <p class="cover-heading">Всем привет! меня зовут <strong>Денис</strong>! Да, это мой <strong>личный блог</strong> </p>
        <hr>
       </div>
        <div class="col-12 text-center">
           <p>Кроме здесь, я есть...</p>
        </div>
        <div class="col-md-12 text-center">
            <p class="text-center">Тут &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; и &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Там</p>

        </div>
        <div class="col-md-12 text-center">
           <a href="https://github.com/Kelit"><img class="mb-4 " src="{{ url_for('static', filename='img/OctoCat.svg') }}" alt="" width="72" height="92"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a cl href="https://vk.com/mr.kelit"><img class="mb-4" src="{{ url_for('static', filename='img/VK.svg') }}" alt="" width="72" height="92"></a>
        </div>
    </div>
{% endblock %}
