{% extends "base.html" %}

{% block content %}
    <form class="form-signin">
      <img class="mb-4" src="img\icon.jpg" alt="" width="172" height="212">
      <h1 class="h3 mb-3 font-weight-normal">Пожалуйста введите логин и пароль</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Почтовый адресс" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">ОК</button>
      <p class="mt-5 mb-3 text-muted">&copy; Денис 2018</p>
    </form>
{% endblock %}
